<footer id="sticky-footer" class="mt-4 flex-shrink-0 py-3 bg-dark text-white fixed-bottom">
 <div class="container text-center">
     <small>Copyright &copy; <%= link_to "Interested? Check me out!", "https://www.linkedin.com/in/robert-gradowski-09b028a7/", class: "text-white" %></small>
 </div>
</footer>
